<!DOCTYPE html>

<html>
<head>
  <title>Title</title>
  <meta http-equiv="content-type" content="text/html;       charset=utf-8" />
  <meta http-equiv="content-type" content="text/javascript; charset=utf-8" />
  <meta http-equiv="content-type" content="text/css;        charset=utf-8" />

  <link type="text/css" href="Css/DZSlides.css" rel="stylesheet" />
  <link type="text/css" href="Css/Theme.css"    rel="stylesheet" />
</head>
<body>

<section>
  <h1>Hoa</h1>
  <footer>by Ivan Enderlin</footer>
</section>

<section>
  <h1>Plan</h1>

  <ul class="incremental">
    <li>Foo</li>
    <li>Bar</li>
    <li>Baz</li>
    <li>Qux</li>
  </ul>
</section>

<section>
  <h1>Code block</h1>

  <pre><code><span class="token-keyword">require</span> <span class="token-string">'/usr/local/lib/hoa/Core/Core.php'</span>;
<span class="token-id">from</span>(<span class="token-string">'Hoa'</span>)
-> <span class="token-id">import</span>(<span class="token-string">'Foo.Bar'</span>);

<span class="token-variable">$foo</span> = <span class="token-id">true</span>;</code></pre>
</section>

<script src="Script/DZSlides.js"></script>

</body>
</html>
