@font-face {
    font-family: Text;
    src: url("../Media/Font/Colaborate.eot");
    src: url("../Media/Font/Colaborate.eot?#iefix") format("embedded-opentype"),
         url("../Media/Font/Colaborate.woff")       format("woff"),
         url("../Media/Font/Colaborate.ttf")        format("truetype"),
         url("../Media/Font/Colaborate.svg#font")   format("svg");
    font-weight: normal;
    font-style: normal;
}

html, body {
    color: #000;
    font: 1.4em/1.7em Text;
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background: #000;
}

#slides {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 2em;
    left: 0;
}

iframe {
    /*pointer-events: none;*/
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background: #fff;
}

#notes_hover {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 3em;
    background: transparent;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), #333);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), #333);
}

#notes {
    position: absolute;
    left: 50%;
    margin-left: -20%;
    bottom: -80%;
    height: 60%;
    width: 40%;
    padding: 1em;
    background: #f9eb72;
    background:
        -moz-radial-gradient(
            100% 100% 45deg,
            ellipse farthest-corner,
            #f2c14a 0%,
            rgba(249, 235, 114, 0) 50%
        ),
        -moz-radial-gradient(
            0 100% 45deg,
            ellipse farthest-corner,
            #f2c14a 0%,
            rgba(249, 235, 114, 1) 50%
        );
    background:
        -webkit-radial-gradient(
            100% 100%,
            ellipse farthest-corner,
            #f2c14a 0%,
            rgba(249, 235, 114, 0) 50%
        ),
        -webkit-radial-gradient(
            0 100%,
            ellipse farthest-corner,
            #f2c14a 0%,
            rgba(249, 235, 114, 1) 50%
        );

    transition:         bottom .5s ease .3s;
    -moz-transition:    bottom .5s ease .3s;
    -webkit-transition: bottom .5s ease .3s;
}

    #notes_hover:hover ~ #notes,
    #notes:hover {
        bottom: 5%;

        transition:         bottom .5s ease;
        -moz-transition:    bottom .5s ease;
        -webkit-transition: bottom .5s ease;
    }

    #note {
        color: #285995;
        font-family: Text;
        font-size: .6em;
        text-shadow: 2px 2px 1px #ced9f4 !important;
        outline: none;
        height: 100%;
        width: 100%;
        border: 0;
        background: transparent;
    }

#connect {
    position: absolute;
    right: 30px;
    bottom: 0;
}

  #connect.off {
    color: #f00;
    text-shadow: 0 0 3px #c00;
  }

  #connect.on {
    color: #3b0;
    text-shadow: 0 0 3px #990;
  }
