@font-face {
    font-family: Header;
    src: url("../Media/Font/GoudyStM_italic.eot");
    src: url("../Media/Font/GoudyStM_italic.eot?#iefix") format("embedded-opentype"),
         url("../Media/Font/GoudyStM_italic.woff")       format("woff"),
         url("../Media/Font/GoudyStM_italic.ttf")        format("truetype"),
         url("../Media/Font/GoudyStM_italic.svg#font")   format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Text;
    src: url("../Media/Font/Colaborate.eot");
    src: url("../Media/Font/Colaborate.eot?#iefix") format("embedded-opentype"),
         url("../Media/Font/Colaborate.woff")       format("woff"),
         url("../Media/Font/Colaborate.ttf")        format("truetype"),
         url("../Media/Font/Colaborate.svg#font")   format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Pre;
    src: url("../Media/Font/DroidSansMono.eot");
    src: url("../Media/Font/DroidSansMono.eot?#iefix") format("embedded-opentype"),
         url("../Media/Font/DroidSansMono.woff")       format("woff"),
         url("../Media/Font/DroidSansMono.ttf")        format("truetype"),
         url("../Media/Font/DroidSansMono.svg#font")   format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: MathRegular;
    src: url('../Media/Font/texgyretermes-regular-webfont.eot');
    src: url('../Media/Font/texgyretermes-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Media/Font/texgyretermes-regular-webfont.woff') format('woff'),
         url('../Media/Font/texgyretermes-regular-webfont.ttf') format('truetype'),
         url('../Media/Font/texgyretermes-regular-webfont.svg#TeXGyreTermesRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: MathItalic;
    src: url('../Media/Font/texgyretermes-italic-webfont.eot');
    src: url('../Media/Font/texgyretermes-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Media/Font/texgyretermes-italic-webfont.woff') format('woff'),
         url('../Media/Font/texgyretermes-italic-webfont.ttf') format('truetype'),
         url('../Media/Font/texgyretermes-italic-webfont.svg#TeXGyreTermesItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: MathBold;
    src: url('../Media/Font/texgyretermes-bold-webfont.eot');
    src: url('../Media/Font/texgyretermes-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Media/Font/texgyretermes-bold-webfont.woff') format('woff'),
         url('../Media/Font/texgyretermes-bold-webfont.ttf') format('truetype'),
         url('../Media/Font/texgyretermes-bold-webfont.svg#TeXGyreTermesBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: MathBoldItalic;
    src: url('../Media/Font/texgyretermes-bolditalic-webfont.eot');
    src: url('../Media/Font/texgyretermes-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Media/Font/texgyretermes-bolditalic-webfont.woff') format('woff'),
         url('../Media/Font/texgyretermes-bolditalic-webfont.ttf') format('truetype'),
         url('../Media/Font/texgyretermes-bolditalic-webfont.svg#TeXGyreTermesBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    background: #000;
}

body {
    color: #fff;
    text-shadow: 2px 2px 1px rgba(46, 83, 146, 1);
    background: url("../Media/Image/Background.jpg");
    background-size: cover;
}

section, mtext {
    font: 30px/45px Text;
    margin: 0;
    padding: .5em;
}

    section.thanks {
        font-size: 40px;
    }

    section.thanks > h1 {
        margin-bottom: 2em;
    }

    section.thanks > p {
        margin: 1em;
        text-align: center;
    }

h1 {
    font: 60px/80px Header;
    font-weight: normal;
    text-align: center;
    margin: 0 0 .1em 0;
    padding: 0 .5em .5em .5em;
}

p {
    margin: 0;
    padding: 0;
    width: 96%;
    text-align: justify;
    hyphens: auto;
    -moz-hyphens: auto;
}

    p + p {
        margin-top: .6em;
    }

    p.thus {
        margin: 1em 0;
        text-align: center;
        text-shadow: 2px 2px 1px  rgba(46, 83, 146, 1),
                     0   0   10px rgba(255, 254, 236, .95);
    }

    p.thus::before {
        content: "☞";
        font-size: 80%;
        margin-right: 1em;
    }

a, a:link, a:visited, a:hover, a:active, a:focus {
    color: #fff;
    text-decoration: none;
    outline: none;
    padding: .1em .2em;
    background: rgba(255, 255, 255, .15);
}

    a:hover, a:active, a:focus {
        border: 1px rgba(46, 83, 146, .8) solid;
        border-width: 0 0 1px 0;
        background: rgba(255, 255, 255, .3);
    }

span.lastname {
    font-variant: small-caps;
}

ul li {
    list-style: none;
    position: relative;
    margin: 0 0 0 2em;
}

    ul li:before {
        font-size: 70%;
        content: "✪";
        position: absolute;
        left: -1.5em;
    }

    ul li[data-item]:before {
        content: attr(data-item);
    }

footer {
    position: absolute;
    font-size: 50%;
    bottom: 40px;
    right: 80px;
}

code {
    font: 20px Pre;
}

pre {
    color: #bfe0ff;
    margin: 0 .5em 0 -.5em;
    padding: .5em;
    line-height: 40px;
    overflow-y: auto;

    box-shadow:         inset 0 0 5px #2c7cc6;
    -moz-box-shadow:    inset 0 0 5px #2c7cc6;
    -webkit-box-shadow: inset 0 0 5px #2c7cc6;
    background: rgba(35, 53, 69, .4);
}

    pre code {
        color: #9282a9;
        text-shadow: 1px 1px 1px #233545;
    }

    .token-keyword {
        color: #9282a9;
    }

    .token-id {
        color: #7dc4f0;
    }

    .token-string {
        color: #88bf7e;
    }

    .token-variable {
        color: #b4895a;
    }

q {
    display: block;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

    q + q {
      margin-top: 1.7em;
    }

    q::before {
        content: "“";
        position: relative;
        display: inline-block;
        width: 50px;
        margin: -100px -50px 0 0;
        top: 150px;
        left: -50px;
        font-family: Title;
        font-size: 1000%;
        opacity: .2;
    }

    q[cite]::after {
        position: absolute;
        right: 0;
        font: 50%/3.5em Header;
        content: "⁘ " attr(cite);
    }

div.stack {
    position: relative;
    height: 465px;
    width: 765px;
}

    div.stack > div {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
    }

    div.stack > div ~ div {
        height: 260px;
        width: 520px;
        top: 50%;
        left: 50%;
        margin-top: -180px;
        margin-left: -300px;
        padding: 20px 40px;
    }

    div.stack-em {
        background: #000;
        -moz-transform: rotate(-5deg);
    }

    div.stack-em:before,
    div.stack-em:after {
        content: "";
        position: absolute;
        bottom: -.2em;
        height: 1em;
        -moz-box-shadow: 0 0 8px #000;
        background: rgba(0, 0, 0, .4);
    }

    div.stack-em:before {
        right: 45%;
        left: .3em;

        -moz-transform: rotate(-4.3deg);
    }

    div.stack-em:after {
        left: 45%;
        right: .3em;

        -moz-transform: rotate(4.3deg);
    }

math {
    font: 30px/45px MathRegular;
}

mtd {
    text-align: left;
    padding-left: .5em;
}

mo {
    margin: 0 1em;
    padding: 0 1em;
}

/* Poor hack :'-( */
mtext:after {
    content: "   ";
}

    mtr > mtext:after {
        content: "";
    }




section {
    transition: left .4s ease;
    -moz-transition: left .4s ease;
    -webkit-transition: left .4s ease;
}

section {
    left: -150%;
}
section[aria-selected] {
    left: 0;
}
section[aria-selected] ~ section {
    left: +150%;
}

.incremental > * {
    visibility: visible;
    opacity: 1;
    transition: all .4s ease;
    -moz-transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

    .incremental > *[aria-selected] {
        text-shadow: 2px 2px 1px  rgba(46, 83, 146, 1),
                     0   0   10px rgba(255, 254, 236, .95);
        opacity: 1;
    }

    .incremental > *[aria-selected] ~ * {
        opacity: .3;
    }

    div.stack.incremental > * ~ * {
        opacity: 0;
        -moz-transform: rotate(-5deg) scale(1.2);
    }

    div.stack.incremental > *[aria-selected] {
        text-shadow: 2px 2px 1px  rgba(46, 83, 146, 1);
        opacity: 1;
    }

    div.stack.incremental > * ~ *[aria-selected] {
        -moz-transform: rotate(-5deg) scale(1);
    }

    div.stack.incremental > *[aria-selected] ~ * {
        opacity: 0;
    }
